.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 30px;

    > * {        
        width: 100%;
        max-width: 605px;

        @include mediumMedia {
            max-width: 480px;
        }

        @include smallMedia {
            max-width: 400px;
        }
    }
}